body, html {
  margin: 0;
  padding: 0;
  background-image: url('Images/Background.png');
  background-size: cover;
  background-position: center -320px;
  min-height: 100vh;
}

.header{
  top: 0;
  left: 0;
  width: 100% auto;
  height: 110px;
  padding: 10px 100px;
  background:rgb(246, 164, 63);
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  list-style: none;
  display:inline-block;
  padding: 10px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
nav ul li a:hover{
  color: red;
  transition-duration: 0.3s;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.right-panel {
  flex: 1;
  max-width: 30%;
  min-width: 250px;
  padding: 55px;
  position: relative;
  overflow-y: auto;
  height: 142vh;
  float: right;
}

.left-panel {
  flex: 1;
  max-width: 60%;
  padding: 20px;
  position: relative;
  float: left;
}


.left-panel {
  width: 60%;
  float: left;
}

.right-panel {
  position:absolute;
  flex: 1;
  right: 10px;
  width: 30%;
  float: right;
}

.text-section {
  margin-bottom: 10px;
  text-align: center;
}

.head-text {
  font-size: 45px;
  color: black;
  font: bold;
  font: larger;
  text-align: center;
  font-weight: 1000;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #ffffff;
  padding-bottom: 30px;
  padding-top: 20px;
}

.big-text {
  font-size: 34px;
  color: black;
  font: bold;
  font: larger;
  text-align: center;
  font-weight: 800;
}

.separator-line {
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
}

hr {
  width: 250px;
  margin: 0 auto;
  border: none;
  border-top: 3px solid #ffffff;
}

.box {
  border: 2px solid #ffffff;
  padding: 10px;
  margin: 10px 0;
  background-color: #93939398;
}

.image-gallery {
  position: relative;
}

.image-gallery img {
  width: 100%;
  height: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(106, 106, 106);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.video-section video {
  width: 100%;
  height: auto;
}

.table-section {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 8px;
  background-color: #93939398;
}

th {
  background-color: #5f5f5fcf;
}

@media screen and (max-width: 768px) {
  .left-panel {
    width: 60%;
    float: left;
  }

  .right-panel {
    width: 30%;
    float: right;
  }

  .head-text {
    font-size: 30px;
  }

  .big-text {
    font-size: 24px;
  }

  .separator-line {
    display: none;
  }

  hr {
    width: 80%;
    margin: 0 auto;
  }
}


footer{
  border-top: 3px solid rgb(255, 255, 255);
  background-color: rgb(246, 164, 63);
  width: 100% auto;
  padding: 20px 10px;
}
.social{
  display: flex;
  justify-content: center;
}
.social a{
  text-decoration: none;
  padding: 1px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;

}
footer a i {
  padding: 1px;
  margin: 10px;
  color: black;
  font-size: 20px;
  border-radius: 50%;
}
.social a:hover{
  background-color: #111;
  transition: 0.5s;
}
.social a:hover i{
  color: white;
  transition: 0.5s;
}
.Gega{
  color: white;
  text-align: center;
  font-weight:bold;
}