*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
  background-color: rgb(252, 249, 249);
  background-image: url("photos/background1.jpg") ;
  text-decoration: none;
  
  }
  .header{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 100px;
    background:rgb(246, 164, 63);
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li{
    list-style: none;
    display:inline-block;
    padding: 10px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  nav ul li a:hover{
    color: red;
    transition-duration: 0.6s;
  }
  footer{
    margin-bottom: 0;
    background-color: rgb(246, 164, 63);
    width: 100%;
    padding: 20px 10px 15px;
  }
  .social{
    display: flex;
    justify-content: center;
  }
  .social a{
    text-decoration: none;
    padding: 1px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
  
  }
  footer a i {
    padding: 1px;
    margin: 10px;
    color: black;
    font-size: 20px;
    border-radius: 50%;
  }
  .social a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .social a:hover i{
    color: white;
    transition: 0.5s;
  }
  .Gega{
    color: white;
    text-align: center;
    font-weight:bold;
  }
  .main1{ 
    display: flex;
    margin-top: 30px;

  }
  span{
  color: #313133;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 4px;
  }

  hr{
    background-color: transparent;
    border-bottom-width: 0px;
    border-left-width:0;
    border-right-width: 0;
    border-top: 1px solid #ecad36;
    display: block;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 0
  }
  .colorunit{
    color: red;
  }
  .mainimage{
    margin-top: 0px;
    margin-bottom: 90px;
  padding-bottom: 60px;
  width:750px;
  }

  video{
    width:500px ;
 margin-left: 50px;
 margin-left: 150px;

   
  }
  .video1 {
    width: 730px; 
    margin-top:28px ;
    margin-left:103px ;

  }
  .vid{
    display: flex;
  }
  



  main{
    margin-top: 50px;
    margin-bottom: 50px;
   
   
  }
  .mobiles{
    display: flex;
   /* justify-content: center;*/
    margin-bottom: 20px;
    margin-left: 200px;
  }
  .mobile{
    width: 200px;
    height: 300px;
    margin-right: 10px;
   /* background-color: rgb(186, 185, 187);*/
   background-color: rgb(203, 199, 208);
    margin-right: 70px;
    border-radius: 10px;
  }
  .mobile:hover{
    background-color: rgb(136, 136, 137);
    transition: 0.8s;
  }
  
  .mobiles img{
    width: 100%;
    height: 200px;
  }
   h3,.mobile p{
    margin-left: 10px;
  }
  button{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    background-color:  rgb(246, 164, 63);
    border: none;
    align-items: center;
    justify-content: center;
    margin-top:  20px; ;
  }
  button:hover{
    background-color: rgb(155, 96, 25); ;
  }

  .cart:hover
      {
       
  background-color: rgb(126, 74, 10);
  font-size: 15px;
font-weight: bolder;
  border-right: 2px solid rgb(192, 90, 13);
  transition:0.6s;
  
      }
      .sub{
        color:black;
        border-radius: 10px;
        width: 50px;
       height: 25px;
        cursor: pointer;
        margin: 5px;
        background-color:  rgb(246, 164, 63);
        border: none;
        align-items: center;
        justify-content: center;
        margin-top:  20px; ;
        

      }
      .sub:hover{
        background-color:  rgb(165, 101, 22);
        transition: 600ms;
      }
      form{
        margin-left: 10px;
       
      }
     