body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffda9b;
    font-size: 18px;
    /* width: 100%; */
}

/* Header */
.header{
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 70px;
    padding: 10px 100px;
    background:rgb(246, 164, 63);
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin: auto 0;
}
nav ul li{
    list-style: none;
    display:inline-block;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
    transition-duration: 0.3s;
}
/* Header */

.productPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px 50px;
    margin: 90px auto 110px;
    max-width: 1000px;
    min-height: 260px;
    background-color: #FDB432;
    border: solid 2px #EF4651;
    border-radius: 10px;
    direction: rtl;
}

.productDetails {
    /* flex: 1; */
    padding-right: 20px;
}

.productDetails h2 {
    font-size: 32px;
    color: #EF4651;
    font-weight: bold;
}

.productDetails p {
    color: white;
    margin-bottom: 10px;
}

.productImage {
    max-width: 45%;
    margin-left: auto;
}

.productImage img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.addToCartButton {
    background-color: white;
    color: #EF4651;
    border: solid 1.5px #EF4651;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 15px 0 0;
}

.addToCartButton:hover {
    background-color: #EF4651;
    color: white;
    border: solid 1.5px white;
}

/* Bottom Part */

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 40px auto 80px;
    position: relative;
}

.container h1{
    color: white;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Product Details Table */
.productTable {
    width: 100%;
    margin-top: 90px;
    border-collapse: collapse;
}

.productTable th, .productTable td {
    padding: 10px;
    text-align: left;
}

.productTable th {
    background-color: #EF4651;
    color: white;
}

.productTable td {
    background-color: #FDB432;
    color: black;
}
/* Product Details Table */

/* Video */
.videoWrapper {
    position: relative;
    padding-bottom: 300px;
    padding-top: 25px;
    height: auto;
    width: 575px;
    margin-top: 90px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Video */

.cardContainer{
    width: 230px;
    height: 365px;
    color: white;
    border-radius: 10px;
    margin: 50px auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.card {
    width: 100%;
    height: calc(100% - 40px);
    background-color: #FDB432;
    border: solid 1px #EF4651;
    border-bottom: none;
    color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.card h2{
    height: 55px;
}

.card:hover {
    opacity: 0.75;
}

.card img {
    max-width: 178px;
    max-height: 178px;
    margin-bottom: 10px;
}

.price {
    position: absolute;
    bottom: 15px;
    left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .price {
    opacity: 1;
}

.cartButton {
    width: 100%;
    height: 40px;
    background-color: white;
    color: #EF4651;
    border: 1px solid #EF4651;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

}

.cartButton:hover {
    background-color: #EF4651;
    color: white;
}

.card:hover .cartButton {
    opacity: 1;
}

/* Bottom Part */

/* Footer */
footer{
    position: relative;
    top: 100%;
    background-color: rgb(246, 164, 63);
    /* width: 100%; */
    padding: 20px 10px 15px;
}
.social{
    display: flex;
    justify-content: center;
}
.social a{
    text-decoration: none;
    padding: 1px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;

}
footer a i {
    padding: 1px;
    margin: 10px;
    color: black;
    font-size: 20px;
    border-radius: 50%;
}
.social a:hover{
    background-color: #111;
    transition: 0.5s;
}
.social a:hover i{
    color: white;
    transition: 0.5s;
}
.Gega{
    color: white;
    text-align: center;
    font-weight:bold;
}
/* Footer */
